@media (max-width: 502px) { 
    h2{
        font-size: 1.25rem;
    }
}
@media (max-width: 419px) { 
    h2{
        font-size: 1.125rem;
    }
}
@media (max-width: 388px) { 
    h2{
        font-size: 1rem ;
    }
}